Tests/Functional/Fixtures/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://tempuri.org/service/soap/soap/fixtures/test"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="TestService"
	targetNamespace="http://tempuri.org/service/soap/soap/fixtures/test">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/service/soap/soap/fixtures/test">

				<xsd:complexType name="Dto">
					<xsd:sequence>

							<xsd:element name="name" type="xsd:string" />

							<xsd:element name="size" type="xsd:integer" />

					</xsd:sequence>
				</xsd:complexType>

				<xsd:complexType name="ArrayOfInt">
					<xsd:sequence>

							<xsd:element name="int" type="xsd:integer" maxOccurs="unbounded" />

					</xsd:sequence>
				</xsd:complexType>

		</xsd:schema>
	</wsdl:types>


		<wsdl:message name="pingRequest">

				<wsdl:part name="value" type="xsd:string" />

		</wsdl:message>

		<wsdl:message name="pingResponse">

				<wsdl:part name="returnValue" type="xsd:string" />

		</wsdl:message>

		<wsdl:message name="multiplyRequest">

				<wsdl:part name="value" type="tns:Dto" />

		</wsdl:message>

		<wsdl:message name="multiplyResponse">

				<wsdl:part name="returnValue" type="xsd:string" />

		</wsdl:message>

		<wsdl:message name="sumRequest">

				<wsdl:part name="values" type="tns:ArrayOfInt" />

		</wsdl:message>

		<wsdl:message name="sumResponse">

				<wsdl:part name="returnValue" type="xsd:integer" />

		</wsdl:message>


	<wsdl:portType name="TestServiceSoapPort">
		<wsdl:documentation>Interface for TestService</wsdl:documentation>

			<wsdl:operation name="ping">
				<wsdl:documentation>ping</wsdl:documentation>
				<wsdl:input message="tns:pingRequest" />
				<wsdl:output message="tns:pingResponse" />
			</wsdl:operation>

			<wsdl:operation name="multiply">
				<wsdl:documentation>multiply</wsdl:documentation>
				<wsdl:input message="tns:multiplyRequest" />
				<wsdl:output message="tns:multiplyResponse" />
			</wsdl:operation>

			<wsdl:operation name="sum">
				<wsdl:documentation>sum</wsdl:documentation>
				<wsdl:input message="tns:sumRequest" />
				<wsdl:output message="tns:sumResponse" />
			</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="TestServiceSoapBinding" type="tns:TestServiceSoapPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

			<wsdl:operation name="ping">
				<soap:operation soapAction="http://tempuri.org/service/soap/soap/fixtures/test/ping" />
				<wsdl:input>
					<soap:body use="literal" namespace="http://tempuri.org/service/soap/soap/fixtures/test" />
				</wsdl:input>
				<wsdl:output>
					<soap:body use="literal" namespace="http://tempuri.org/service/soap/soap/fixtures/test" />
				</wsdl:output>
			</wsdl:operation>

			<wsdl:operation name="multiply">
				<soap:operation soapAction="http://tempuri.org/service/soap/soap/fixtures/test/multiply" />
				<wsdl:input>
					<soap:body use="literal" namespace="http://tempuri.org/service/soap/soap/fixtures/test" />
				</wsdl:input>
				<wsdl:output>
					<soap:body use="literal" namespace="http://tempuri.org/service/soap/soap/fixtures/test" />
				</wsdl:output>
			</wsdl:operation>

			<wsdl:operation name="sum">
				<soap:operation soapAction="http://tempuri.org/service/soap/soap/fixtures/test/sum" />
				<wsdl:input>
					<soap:body use="literal" namespace="http://tempuri.org/service/soap/soap/fixtures/test" />
				</wsdl:input>
				<wsdl:output>
					<soap:body use="literal" namespace="http://tempuri.org/service/soap/soap/fixtures/test" />
				</wsdl:output>
			</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="TestService">
		<wsdl:port binding="tns:TestServiceSoapBinding" name="TestServiceSoapPort">
			<soap:address location="service/soap/soap/fixtures/test" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
